<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	                    http://www.springframework.org/schema/aop
	                    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	                    http://www.springframework.org/schema/tx
	                    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
	
	<bean name="order" class="com.leo.ssh.domain.Orders"/>
	
	<bean name="orderDao" class="com.leo.ssh.dao.impl.OrderDaoImpl">
	   <property name="sessionFactory">
	       <!-- ref中的“sessionFactory”是spring托管的sessionFactory -->
	       <ref bean="sessionFactory"/>
	   </property>
	</bean>
	<bean name="orderBiz" class="com.leo.ssh.biz.impl.OrderBizImpl">
	   <property name="orderDao">
	     <ref bean="orderDao"/>
	   </property>
	</bean>
	
	<bean name="orderAction" class="com.leo.ssh.action.OrderAction" scope="prototype">
	  
	   <property name="order">
	      <ref bean="order"/>
	   </property>
	   <property name="orderBiz">
	      <ref bean="orderBiz"/>
	   </property>
	</bean>
	
</beans>