@charset "utf-8";
/* CSS Document */

#loginTable{
	border:1px solid #FFFFFF;
	border-radius:5px;
	background-color:#FFFFFF;
	padding:10px;
	margin-left:auto;
	margin-right:auto;
	margin-top:200px;
}
#loginTable .title{
	text-align:center;
	font-size:15px;
	font-weight:bold;
	color:#111111;
}
#loginTable .text{
	font-size:13px;
	font-weight:bold;
	color:#999999;
}
#loginTable .textStyle{
	font-size:13px;
	font-weight:bold;
	color:#000000;
	padding-left:10px;
	border:1px solid #CCCCCC;
	background-color:#FC6;
	border-radius:5px;
	height:16px;
	width:140px;}
#loginTable .ValidatetextStyle{
	font-size:13px;
	font-weight:bold;
	color:#000000;
	padding-left:10px;
	border:1px solid #CCCCCC;
	background-color:#FC6;
	border-radius:5px;
	height:16px;
	width:40px;}
#loginTable .codetextStyle{
	font-size:13px;
	font-weight:bold;
	color:#000000;
	text-align:center;
	border:0px;
	background-color:#FC6;
	border-radius:5px;
	height:16px;
	width:60px;}
#loginTable .btn{
	border:1px solid  #09C;
	border-radius:5px;
	background-color:#06F;
	color:#FFF;
	cursor:pointer;
}